<div class="col-md-12 no-padd">
  <div class="row mt-4">
    <div class="col-md-4"
         *ngFor="let subsPack of channelSubscriptionsPacks; let i = $index">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fa fa-diamond fa-2x"></i>
          </div>
          <mat-card-title>
            {{subsPack.packName}} - {{subsPack.price | currency: 'INR'}}
          </mat-card-title>
          <mat-card-subtitle>Subscription Pack</mat-card-subtitle>
        </mat-card-header>
        <hr/>
        <mat-card-content>
          <div *ngFor="let channel of subsPack.channels; let i = $index">
            <p>{{channel.channelName}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field class="example-full-width"
                          *ngIf="!currentSubsPck?.channelSubscriptionPacks?.length">
            <mat-label>Number of months</mat-label>
            <input [(ngModel)]="months"
                   matInput
                   placeholder="months"/>
          </mat-form-field>
          <button mat-button mat-stroked-button
                  [disabled]="!!currentSubsPck?.channelSubscriptionPacks?.length"
                  (click)="subscribeForPack(subsPack.packName)">
            <span
              *ngIf="currentSubsPck?.channelSubscriptionPacks[0]?.channelPack?.packName === subsPack.packName; else noPack">
              Subscribed
              <i class="fa fa-check-circle fa-2x" style="color: green"></i>
            </span>
            <ng-template #noPack>
              Subscribe
            </ng-template>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
