<div class="col-md-12 no-padd">
  <div class="row mt-4">
    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fa fa-money fa-2x"></i>
          </div>
          <mat-card-title>
            Recharge
          </mat-card-title>
          <mat-card-subtitle>Recharge to your account</mat-card-subtitle>
        </mat-card-header>
        <hr/>
        <mat-card-content>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Recharge amount</mat-label>
              <input [(ngModel)]="rechargeAmt"
                     matInput
                     placeholder="amount"/>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button mat-raised-button
                  [disabled]="!rechargeAmt || rechargeAmt <=0 "
                  (click)="recharge()">
            Recharge
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
